<form [formGroup]="assetFormGroup()" class="card rounded-3">
  <table class="table table-striped rounded-3">
    <thead>
      <tr>
        @for (item of tableColumns(); track $index) {
          <th scope="col">{{ item }}</th>
        }
      </tr>
    </thead>

    <tbody formArrayName="assets">
      <!-- Need for loop to track a reference instead of an index for the animations to work properly -->
      @for (
        assetForm of assetFormArray().controls;
        track assetForm;
        let i = $index;
        let count = $count
      ) {
        <tr #row [formGroupName]="i" class="insert-container">
          <td>
            <div class="input-group">
              @let isEmpty = !selectInput.value;

              <select
                #selectInput
                id="assetType"
                class="form-select"
                [ngClass]="{ 'default-select': isEmpty }"
                aria-label="Asset Type"
                formControlName="type"
                ngDefaultControl
              >
                <option value="" disabled selected>— Select —</option>

                @for (type of assetStore.assetTypes(); track $index) {
                  <option [value]="type">{{ type }}</option>
                }
              </select>
            </div>

            @if (
              assetForm.get('type')?.hasError('required') && assetForm.touched
            ) {
              <label class="text-danger" for="assetType"
                >Please select a type</label
              >
            }
          </td>

          <td>
            <div class="input-group">
              <!-- There is a bug with bg -->
              <span class="input-group-text bg-newton-disabled">$</span>
              <input
                id="assetValue"
                type="text"
                class="form-control"
                formControlName="value"
                maskCurrency
                ngDefaultControl
              />
            </div>

            @if (assetForm.touched && assetForm.get('value')?.invalid) {
              <label class="text-danger" for="assetValue"
                >Please enter a valid currency</label
              >
            }
          </td>

          <td class="vertical-align-middle" width="56px">
            @let shouldDisableButton = count === 1;

            <button
              [ngClass]="
                shouldDisableButton
                  ? 'btn-newton-disabled text-newton-disabled-text'
                  : 'btn-danger'
              "
              type="button"
              class="btn border rounded-5 btn-md"
              (click)="deleteAsset(i, row)"
              [disabled]="shouldDisableButton || isDeleteInProgress()"
            >
              <fa-icon
                class="text-red"
                [icon]="['fas', 'trash-can']"
                size="sm"
              ></fa-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <button
      type="button"
      class="btn btn-link text-decoration-none text-newton-green fw-bold gap-2 d-flex align-items-center mb-3 me-3"
      (click)="addEmptyAsset()"
    >
      <fa-icon
        class="text-newton-green"
        [icon]="['fas', 'circle-plus']"
        size="lg"
      ></fa-icon>
      Add Another Asset
    </button>
  </div>
</form>
