<form [formGroup]="assetFormGroup()">
  <table class="table table-borderless">
    <thead>
      <tr>
        @for (item of tableColumns(); track $index) {
          <th scope="col">{{ item }}</th>
        }
      </tr>
    </thead>

    <tbody formArrayName="assets">
      @for (
        assetForm of assetFormArray().controls;
        track $index;
        let i = $index;
        let count = $count
      ) {
        <tr [formGroupName]="i">
          <td>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="type"
              ngDefaultControl
            >
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>

            @if (
              assetForm.get('type')?.hasError('required') && assetForm.touched
            ) {
              <span class="text-danger">Please select a type</span>
            }
          </td>

          <td>
            <input
              type="number"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="value"
              ngDefaultControl
            />

            @if (
              assetForm.get('value')?.hasError('required') && assetForm.touched
            ) {
              <span class="text-danger">Please enter a value</span>
            }
          </td>

          <td class="vertical-align-middle">
            <button
              type="button"
              class="btn btn-secondary rounded-5 btn-md"
              (click)="deleteAsset(i)"
              [disabled]="count === 1"
            >
              <fa-icon
                class="text-red"
                [icon]="['fas', 'trash-can']"
                size="sm"
              ></fa-icon>
            </button>
          </td>
        </tr>
      }

      <tr>
        <td attr.colspan="{{ tableColumns().length }}">
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-link text-decoration-none text-newton-green fw-bold gap-2 d-flex align-items-center"
              (click)="addEmptyAsset()"
            >
              <fa-icon
                class="text-newton-green"
                [icon]="['fas', 'circle-plus']"
                size="lg"
              ></fa-icon>
              Add Another Asset
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
