<form [formGroup]="assetFormGroup()" class="card rounded-3">
  <table
    class="table table-striped table-striped-inverse rounded-3 overflow-hidden"
  >
    <thead>
      <tr>
        @for (item of tableColumns(); track $index) {
          <th scope="col">{{ item }}</th>
        }
      </tr>
    </thead>

    <tbody formArrayName="assets">
      @for (
        assetForm of assetFormArray().controls;
        track $index;
        let i = $index;
        let count = $count
      ) {
        <tr [formGroupName]="i">
          <td>
            <div class="input-group">
              <select
                id="assetType"
                class="form-select"
                aria-label="Asset Type"
                formControlName="type"
                ngDefaultControl
              >
                @for (type of assetStore.assetTypes(); track $index) {
                  <option [value]="type">{{ type }}</option>
                }
              </select>
            </div>

            @if (
              assetForm.get('type')?.hasError('required') && assetForm.touched
            ) {
              <label class="text-danger" for="assetType"
                >Please select a type</label
              >
            }
          </td>

          <td>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input
                id="assetValue"
                type="text"
                class="form-control"
                formControlName="value"
                mask="separator.2"
                thousandSeparator=","
                ngDefaultControl
              />
            </div>

            @if (assetForm.touched && assetForm.get('value')?.invalid) {
              <label class="text-danger" for="assetValue"
                >Please enter a valid currency</label
              >
            }
          </td>

          <td class="vertical-align-middle">
            <button
              type="button"
              class="btn btn-secondary rounded-5 btn-md"
              (click)="deleteAsset(i)"
              [disabled]="count === 1"
            >
              <fa-icon
                class="text-red"
                [icon]="['fas', 'trash-can']"
                size="sm"
              ></fa-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <button
      type="button"
      class="btn btn-link text-decoration-none text-newton-green fw-bold gap-2 d-flex align-items-center mb-3"
      (click)="addEmptyAsset()"
    >
      <fa-icon
        class="text-newton-green"
        [icon]="['fas', 'circle-plus']"
        size="lg"
      ></fa-icon>
      Add Another Asset
    </button>
  </div>
</form>
