<form [formGroup]="assetForm" (ngSubmit)="saveAssets()" class="card rounded-3">
  <div class="modal-header border-bottom border-black">
    <div
      class="modal-title d-flex align-items-center justify-content-center gap-3"
    >
      <fa-icon
        class="text-newton-green"
        [icon]="['fas', 'hand-holding-dollar']"
        size="3x"
      ></fa-icon>

      <h4 class="fw-bold m-0 fs-3">Add Assets</h4>
    </div>

    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>

  <div class="modal-body">
    <app-asset-table [assetFormGroup]="assetForm"></app-asset-table>
  </div>

  <div class="modal-footer d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-outline-dark fw-bold rounded-5 px-5 py-3 btn-lg fs-4"
      (click)="activeModal.close('Close click')"
    >
      Close
    </button>

    <button
      type="submit"
      class="btn btn-outline-newton-green fw-bold rounded-5 px-5 py-3 btn-lg fs-4"
    >
      Save
    </button>
  </div>
</form>
