<div class="modal-header">
  <div class="modal-title d-flex align-items-center gap-3">
    <fa-icon
      class="text-newton-green"
      [icon]="['fas', 'hand-holding-dollar']"
      size="2x"
    ></fa-icon>

    <h4 class="fw-bold m-0 fs-6">Add Assets</h4>
  </div>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <app-asset-table [assetFormGroup]="assetForm"></app-asset-table>
</div>

<div class="modal-footer d-flex justify-content-between">
  <button
    type="button"
    class="btn btn-outline-secondary rounded-5"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>

  <button
    type="button"
    class="btn btn-outline-newton-green fw-semibold rounded-5"
    (click)="saveAssets()"
  >
    Save
  </button>
</div>
