:host {
  display: block;

  .asset-manager-card {
    width: 850px;
  }

  .asset-manager-empty-state {
    min-height: 470px;
  }

  // Invert the table stripe colors to match design requirements
  .table-striped tr:nth-child(odd) td {
    --bs-table-bg-type: var(--bs-table-bg);
  }

  .table-striped tr:nth-child(even) td {
    background: var(--bs-table-striped-bg);
  }

  .delete-asset {
    height: 3.5rem;
  }

  .insert-container {
    opacity: 1;
    transition:
      opacity 0.5s ease-out,
      transform 0.5s ease-out;

    @starting-style {
      opacity: 0;
      transform: translateY(1rem);
    }
  }

  .delete-container {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
