@use 'sass:map';

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import './scss/variables';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// https://getbootstrap.com/docs/5.3/customize/color/#generating-utilities
$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans,
  $custom-colors,
  $theme-colors
);

// There is a problem with Gray color utilities generation that will be fixed in v6 so they have not been included https://github.com/twbs/bootstrap/issues/38569

$theme-colors: $all-colors;

$utilities: map.merge(
  $utilities,
  (
    'color': map.merge(
        map.get($utilities, 'color'),
        (
          values: map.merge(
              map.get(map.get($utilities, 'color'), 'values'),
              ($all-colors)
            ),
        )
      ),
    'border': map.merge(
        map.get($utilities, 'border'),
        (
          values: map.merge(
              map.get(map.get($utilities, 'border'), 'values'),
              ($all-colors)
            ),
        )
      ),
    'background-color': map.merge(
        map.get($utilities, 'background-color'),
        (
          values: map.merge(
              map.get(map.get($utilities, 'background-color'), 'values'),
              ($all-colors)
            ),
        )
      ),
  )
);

@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/bootstrap';
